body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.light.on #rect4136{
	fill:#fff;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.fan.on #fan{
	transform-origin: 50% 62.5%;
	transform: translate(69.191433px,-109.11923px);
	animation: rotate 1s linear infinite;
}
.light.on #tube1, .light.on #tube2 {
	fill:#ffffff !important;
}